@model IEnumerable<Movie_Tracker.Models.WatchedMovie>

@{
    ViewData["Title"] = "WatchedMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="display-5 fw-bold">Watched Movies</h1> <br/>
<div class="card-columns">
    @foreach (var item in Model) {  
        <div class="col-sm">
          <div class="card text-white bg-secondary border-dark mb-3">
            <img src="@Url.Content(item.Movie.Poster)" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">@Html.DisplayFor(modelItem => item.Movie.Title)</p>
              <a class="btn btn-warning" asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">Details</a>
              <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
          </div>
        </div>
    }
</div>